body {
   display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 3em;
  color:#cc9900;
}
p {
  color: #4d4d4d;
  font-family: sans-serif;
  font-size: 2em;
  margin-left: 30%;
}
li {
  font-family: sans-serif;
  color: #4d4d4d;
  font-size: 2em;
  margin-left: 30%;
}
